@model VanillaReborn.Models.DTOs.NewsStoryDTO

<div class="news-story-item card">
    <div class="card-body row">
        <div class="col-md-8 story-name">
            <h4 class="thin-text text-muted">@Model.StoryTypeDescription</h4>
            <h4 class="card-title">@Model.Title</h4>
        </div>
        <div class="col-md-4 author-details row no-gutters">
            <div class="col-9 text-right">
                <div class="text-muted">By @Model.Author.Name</div>
                <div class="text-muted">@Model.PublishedDate</div>
            </div>
            <div class="author-avatar col-3 text-right">
                <img src="@Model.Author.AvatarImage" />
            </div>
        </div>
        <div class="col-md-12 story-content">
            <p class="card-text">@Html.Raw(Model.PreviewHtml)</p>
            <button type="button" class="btn btn-dark float-right">@Html.ActionLink("Read more", "ViewStory", new { id = Model.Id, title = Model.TitleUrl })</button>
        </div>       
    </div>
</div>
